/* ============================================= */
/*                Variables                      */
/* ============================================= */

$primary-color:                 grey;
$secondary-color:               darkgrey;
$primary-bg-color:              #0f1011;

$text-accent-color:             #f7f99a;
