/* ============================================= */
/*                Variables                      */
/* ============================================= */

$primary-color:                 grey;
$secondary-color:               darkgrey;
$primary-bg-color:              #0f1011;

$intro-text-color:              black;
$text-accent-color-1:           #2b549f;
$text-accent-color-2:           #cd7a43;
$text-accent-color-3:           #82ab67;
$text-accent-color-4:           #626262;
$text-accent-color-5:           white;
$text-accent-color-6:           white;
