/* ============================================= */
/*                Variables                      */
/* ============================================= */

$primary-color:                 grey;
$secondary-color:               darkgrey;
$primary-bg-color:              #0f1011;

$intro-text-color:              black;
$text-accent-color:             white;
