/* ============================================= */
/*                  Footer                       */
/* ============================================= */

.wrapper {
  height: 1580px;
  position: relative;

  @media (min-width: 768px) {
    height: 1400px;
  }
}

.footer-container {
  width: 100%;
  position: absolute;
  bottom: 0px;

  background-color: rgba(white, 0.5);
  padding: 10px;
}

#site-footer {
  width: 100%;
  margin: 0 auto;

  a:hover {
    text-decoration: underline;
  }
}
