/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-bg-color;
}

/* ============================================= */
/*              Typography                       */
/* ============================================= */

body {
  font-family: sans-serif;
  color: #404a51;
}
